<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Master</title>
    <link rel="stylesheet" href="/static/output.css">
</head>
<body class="bg-gray-900">
    <div class="container mx-auto">
        <div class="flex justify-center items-center h-screen">
            <div class="text-center">
                <h1 class="text-4xl text-white">Solving...</h1>
            </div>
        </div>
    </div>
    
</body>
</html>